@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  @apply bg-gray-100;
}

::-webkit-scrollbar-thumb {
  @apply transition-colors bg-teal-500 rounded-full hover:bg-teal-600;
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #14b8a6 #f3f4f6; /* teal-500 gray-100 */
}